[bumpversion]
current_version = 0.1.0
commit = False
tag = False

[bumpversion:file:setup.py]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file:flake8_logging_format:main.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"
