*
!logging_format
logging_format/tests
!dist/*-none-any.whl
!entrypoint.sh
!MANIFEST.in
!README.md
!HISTORY.rst
!requirements*.txt
!setup.py
!setup.cfg
!mypy.ini
!pyproject.toml
!conftest.py
**/*.pyc
**/*~
